@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Guids!</title>
        <link href="~/Content/stylesheets/screen.css" rel="stylesheet" media="screen"/>
    </head>
    <body class="container" ng-app>
        
        <h1>Guids!</h1>
        <p>The world's Guids are in danger of running out!  If you have Guids to spare, please donate them here.</p>

        <div ng-controller="Guids">
            
            <fieldset>
                <legend>Guid Recycling</legend>

                <input type="text" name="guidToRecycle" ng-model="guidToRecycle" />
                <button ng-click="recycle()">Recycle This Guid</button>
                <p ng-show="error" class="error" ng-model="error">{{ error }}</p>

            </fieldset>

            <div class="results">
                <h3>Recycled Guids</h3>
                <p ng-repeat="guid in recycledGuids">{{ guid }}</p>
            </div>
        
            <fieldset>
                <legend>Guids</legend>

                <label>How many guids do you want to see?</label>
                <input ng-model="num" id="num" type="text" name="num"/>

            </fieldset>
            <p>
                <button ng-click="fetch()">See Guids!</button>
            </p>
        
            <div ng-show="guids" class="results">
                <p ng-repeat="guid in guids">{{ guid }}<button class="button-copy" ng-click="copy()">Copy</button></p>
            </div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script>
            typeof (angular) === 'undefined' && document.write("<script src='/Scripts/angular.min.js'></" + "script>");
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
            typeof (jQuery) === 'undefined' && document.write("<script src='/Scripts/jquery-2.1.0.min.js'></" + "script>");
        </script>
        <script src="~/Scripts/jquery-2.1.0.min.js"></script>
        <script>
            var guidUrl = "@Url.HttpRouteUrl("DefaultApi", new { controller = "Guid" })?n=";
            var guidPattern = new RegExp("^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$", 'i');

            function Guids($scope) {
                $scope.guids = [];
                $scope.num = 1;

                $scope.fetch = function () {
                    $.getJSON(guidUrl + $scope.num,
                        null,
                        function (res) {
                            $scope.guids = [];
                            $.each(res, function (i, guid) {
                                $scope.guids.push(guid);
                            });
                            $scope.$apply();
                        }
                    );
                };

                $scope.recycledGuids = [];
                $scope.guidToRecycle = "";
                $scope.error = "";

                $scope.recycle = function () {
                    if ($scope.guidToRecycle.match(guidPattern)) {
                        $scope.recycledGuids.push($scope.guidToRecycle);
                        $scope.guidToRecycle = "";
                        $scope.error = "";
                    } else {
                        $scope.error = "Value entered must be a valid GUID.";
                    }
                };

                $scope.copy = function () {
                    $scope.guidToRecycle = this.guid;
                };
            }
        </script>
        
    </body>
</html>
